.v-chip.success {
  min-width: 50px;
  text-align: center4;
  border-color: #02bf0f !important;
  background-color: #dfffe1 !important;
  color: #02bf0f !important;
}

.v-chip.error {
  min-width: 50px;
  text-align: center;

  border-color: #d60539 !important;
  background-color: #fee6ec !important;
  color: #d60539 !important;
}
